h1{
    font-family: sans-serif;
    color: coral;
    text-align: center;
}
.main-para{
    background-color: darkgoldenrod;
    text-decoration-color: green;
    font-size: 20px;
    padding: 1%;
    border-radius:20%;
}